@use '/src/app/styles/variables';

.root{
  background: variables.$basic-500;
  &_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(105,100,226);
    background: linear-gradient(90deg, rgba(105,100,226,0.01) 0%, rgba(105,100,226,0.35477941176470584) 95%, rgba(153,150,226,0.2) 100%);
    width: 100%;
    margin-top: 60px;
    padding-bottom: 60px;
  }
  &_line{
    width: 1000px;
    height: 10px;
    background: red;
  }
  img{
    width: 80%;
    height: 100%;
  }


}