//primary
$basic-50: rgba(255, 255, 255, 0.13);
$basic-100: #6964E2;
$basic-150: rgba(105, 100, 226, 0.38);
$basic-200: #4844a8;

//secondary
$basic-300: #262626;
$basic-400: rgba(217, 217, 217, 0.2);
$basic-450: rgba(255, 255, 255, 0.13);


//bg
$basic-500: #1E1E1E;
//bg sidebar
$siedebarbg: #262626

