@use '/src/app/styles/variables';

html {
  background-color: variables.$basic-500;
}
.root {
  background-color: variables.$basic-500;
  margin: 0;
  padding: 0;
  height: 100%;

  button {
    margin-top: 35px;
    font-size: 25px;
  }

  &__wrapper{
    a{
      text-decoration: none;
      display: block;
      text-align: center;
    }

  }


}