@use '/src/app/styles/variables';


.root {
  cursor: pointer;
  outline:none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &_type {
    &_primary {
      color: white;
      background-color: variables.$basic-100;
      &:hover {
        background-color: variables.$basic-200;
      }

    }
    &_secondary {
      background-color: variables.$basic-400;
      color: rgba(255, 255, 255, 0.5);
      &:hover {
        background-color: variables.$basic-500;
      }
    }

  }

  &_buttonSize{
    &_default{
      padding-left: 55px;
      padding-right: 55px;
      padding-top: 4px;
      padding-bottom: 4px;
      font-size: 23px;
    }

    &_small{
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 1px;
      padding-bottom: 1px;

    }
    &_medium{
      padding-left: 80px;
      padding-right: 80px;
      padding-top: 2px;
      padding-bottom: 2px;
    }

    &_large{
      width: 360px;
      height: 37px;
    }
  }

  &_borderType{
    &_default{
      border-radius: 6px;
    }
    &_strong{
      border-radius: 20px;
    }
  }


}