@use '/src/app/styles/variables';

.root{
  background-color: variables.$basic-500;
  color: variables.$h5TextColor;

  &__wrapper {
    margin-top: 15px ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;

    button{
      margin-left: 20px;
    }
  }
  @media screen and (max-width: 1650px) {
    &__wrapper {
      padding: 40px 40px;
      padding-top: 0;

    }
  }
}