@use '/src/app/styles/variables';

.root{
  background-color: variables.$basic-500;
  color: variables.$h5TextColor;

  &__wrapper {
    margin-top: 15px ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (max-width: 1440px) {
    &__wrapper {
      padding-left: 6%;
      padding-right: 6%;
    }
  }
}