@use '/src/app/styles/variables';

.root {
  width: 100%;
  display: flex;
  justify-content: center;

  ::selection {
    background: variables.$basic-150; /* Цвет фона */
  }

  &__wrapper {
    margin-top: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 35vw;

    padding-bottom: 4vh;
    background-color: variables.$basic-300;
  }
  a{
    display: block;
    margin-top: 13px;
    line-height: 1;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.42);
    text-align: center;

    &:hover{
      text-decoration: underline;
    }

  }
  h2{
    margin-top: 30px;
  }

  @media screen and (max-width: 1450px){
    &__wrapper{

    }

  }
}