@use '/src/app/styles/variables';

.root {
  width: 100%;
  display: flex;
  justify-content: center;

  &__wrapper {
    margin-top: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 47vh;
    background-color: variables.$basic-300;
  }

  @media screen and (max-width: 1450px){
    &__wrapper{
      width: 35vw;
      height: 54vh;
    }

  }
}