@use '/src/app/styles/variables';

html {
  background-color: variables.$basic-500;
  ::selection {
    background: variables.$basic-150; /* Цвет фона */
  }
}

.root {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  &__wrapper {
    width: 100%;
  }
}