@use '/src/app/styles/variables';
.root{
  background: variables.$basic-500;
  &__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(105,100,226);
    background: linear-gradient(90deg, rgba(105,100,226,0.01) 0%, rgba(105,100,226,0.35477941176470584) 95%, rgba(153,150,226,0.2) 100%);
    height: 1px;
    width: 100%;
    padding-bottom: 150px;
    padding-top: 20px;
  }
  &_line{
    background-color: rgba(255, 255, 255, 0.16);
    height: 1px;
    width: 95%;
  }



}
