@use '/src/app/styles/variables';
.root{
  background: variables.$basic-500;

  &_wrapper{
    padding-top: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  &_button_container{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  button{
    font-size: 35px;
  }

  &_info{
    width: 80%;
    font-family: Calibri;
    color: #6964E2;
    text-align: center;
    line-height: 1.2;

    h1{
      width: 70%;
      font-size: 89px;
    }

    p{
      margin-top: 40px;
      color: white;
      font-size: 45px;
      margin-bottom: 40px;
    }
  }
  @media screen and (max-width: 1650px) {
    w {
      font-size: 70px;
    }
    p{
      font-size: 35px;
    }
  }


}
