@use '/src/app/styles/variables';
.root{
  background: variables.$basic-500;
  height: 60rem;
  padding-right: 200px;

  &_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_button_container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_image {
    img{
      width: 700px;
      height: 950px;
    }
  }
  &_info{
    font-family: Calibri;
    font-size: 40px;
    color: #6964E2;
    text-align: center;
    width: 520px;
    line-height: 1.2;
    z-index: 1;

    p{
      margin-top: 40px;
      color: white;
      font-size: 35px;
      margin-bottom: 40px;
    }


  }
  &_block{
    position: absolute;
    left: 15%;
    top: 30%;
    background: rgba(105, 100, 226, 0.06);
    width: 80rem;
    height: 500px;
    z-index: 0;
  }

  @media screen and (max-width: 1650px) {
    &_wrapper{
    margin-top: -100px;
    }
    &_block {
      width: 75%;
      height: 420px;
      left: 8%;
      top: 29%;
    }
    &_image {
      img{
        width: 550px;
        height: 800px;
      }
    }
  }
}
