@use '/src/app/styles/variables';
.root{
  background: variables.$basic-500;
  &__wrapper{
    color: white;
  }
  &_navContaier{
    color:  white;
    display: flex;
    margin-left: 3vw;

    &_navItems{
      margin-right: 1vw;
      cursor: pointer;
      text-decoration: none;
      font-size: 30px;

      &:hover{
        text-decoration: underline;
        color: variables.$basic-100;
      }

    }

  }

}