@use '/src/app/styles/variables';
.root{
  background: variables.$basic-500;
  &__wrapper{
    color: white;
    margin-top: 2vh;
  }
  &_navContaier{
    color:  white;
    display: flex;
    margin-left: 3vw;
    &_navItems{
      margin-right: 1vw;
      cursor: pointer;
      text-decoration: none;
      font-size: 30px;
      &:hover{
        text-decoration: underline;
        color: variables.$basic-100;
      }
    }
  }
  &_mainContainer{
    margin-left: 3vw;
    margin-top: 3vh;
  }
  &_other{
    select{
      width: 16vw;
      min-width: 120px;
      max-width: 16vw;
      font-size: 25px;
      padding-left: 10px;
      height: 39px;
      background: variables.$basic-500;
      color: white;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /*не менять*/
      background-image: url('src/app/assets/image/selectArrow.png');
      background-repeat: no-repeat;
      padding-right: 1.2em;
      background-position: calc(100% - 0.35em) 0.55em;



    }
  }

}