@use '/src/app/styles/variables';

.root{
  border-radius: 0;
  background-color: variables.$siedebarbg;
  width: 15vw;
  min-width: 140px;
  max-width: 300px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  font-size: 24px;

  h2{
    font-size: 40px;
  }

  &__wrapper {}

  //заголовок (3 полоски и Tasks)
  &_sidebarHeader{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 1vh;
    color: variables.$basic-100;

    i{
      margin-right: 0.6vw;
      color: white;
      font-size: 25px;
      margin-bottom: -1vh;
    }
  }

  //Основные элелементы
  &_mainElements{
    padding-bottom: 42vh;
    padding-top: 9vh;
  }

  //общие параметры иконок
  i{
    margin-left: 20px;
    font-size: 29px;
    margin-top: -1.1vh;
  }

  &_mainSideBar{}

  // Уменьшеный сайдбар
  &_miniSideBar{
    display: none;


    .root{
      background-color: variables.$siedebarbg;
      width: 5vw;
      height: 100%;
      min-width: 50px;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 100;

      //для того что бы основные иконки были по центру
      i{
        margin-right: 1.4vw;
      }

      &__wrapper {}

      //Заголовок сайдбара (3 полоски)
      &_sidebarHeader{
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-top: 5vh;
        padding-bottom: 3vh;
        color: variables.$basic-100;

        i{
          margin-left: 1.6vw;
          color: white;
        }
      }

      //Основные элементы
      &_mainElements{
        padding-bottom: 41vh;
        padding-top: 8vh;

        div{

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      //логин и инфо которые снизу
      &_logInfo{
        div{
          width: 5vw;
        }
      }
    }
  }

  @media  screen and (max-width: 1440px) {
    h2{
      font-size: 30px;
    }
    p{
      font-size: 20px;
    }
    i{
      font-size: 23px;
      margin-top: -2vh;
    }
    }
}

