.root {
  text-align: center;
  justify-content: center;
  color: white;
  min-height: 100%;
  margin-top: 60px;

  h2 {
    margin-top: 20px;
    font-size: 35px;
  }

  input {
    margin-top: 35px;
  }
  button {
    margin-top: 35px;
    font-size: 25px;
  }

  p {
    margin-top: 10px;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.42);
  }
}

.fields {
  display: grid;

}