@use '/src/app/styles/variables';
.root{
  background: variables.$basic-500;

  &__wrapper{
    color: white;
  }
  &_notesHeader{


  }
  &_notesContainer{


    textarea {
      padding: 20px;
      font-size: 20px;
      color: white;
      background: url("src/app/assets/image/cutewitchop70.png") no-repeat;
      background-size: contain;
      background-position-x: 50% ;

      text-align: start;
      width: 55vw;
      height: 800px;
      resize: none;
      border: 1px rgba(128, 128, 128, 0.41) solid;
      border-radius: 20px;
    }

  }


}